name: Terraform

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: infra/envs/dev
        run: terraform init -input=false

      - name: Terraform Validate
        working-directory: infra/envs/dev
        run: terraform validate

      - name: Terraform Plan
        working-directory: infra/envs/dev
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/master'
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve tfplan

